body{
    background-color: aqua;
}
#bộphim{
    font-size: 30px;
    background-color: red;
    text-align: center;
}
#phim{
    width: 100%;
    border: 1px solid #333;
    padding: 10px;
    overflow: auto;
}

.bophim1 {
    width:50%;
    height: 150px;
    background:black;
    float:left
  }
.bophim2 {
    width: 50% ;
    height: 150px;
    background:black;
    float: right;
}
#phimbb{
    width:100%;
    border: 1px solid #333;
    padding: 0px;
    overflow: auto;
}
.bophim3 {
    width:50%;
    height: 150px;
    background:black;
    float:left
}
.bophim4 {
    width:50%;
    height: 150px;
    background:black;
    float:right
}


#phim {
    font-size: 20px;
    color:green;
    background:black
}

#phimbb{
    font-size: 20px;
    color:blue
}
.bophim1 img{
    width:70%
}
.bophim2 img{
    width:70% ;
}
.bophim3 img{
    width:70%
}
.bophim4 img{
    width:70%
}